body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: rgb(11, 165, 165);
}

.container{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 45px;
}